backupmail.js
delete_acc.php
delete_account.php
.idea
print1.jpg
print2.jpg
print3.jpg
print4.jpg
printapple1.jpg
printapple2.jpg
printapple3.jpg
printapple4.jpg
privacy_policy.html
rodar backend heroica forum mulheres.txt

splash.psd
splashc.png
test.js